/* fonts */
body, input {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}
pre, code {
  font-family: 'Ubuntu Mono', 'Courier New', 'Courier', monospace;
}

/*body, body * {
    padding: 1px;
    border: 1px solid black;
}*/
